<!DOCTYPE html>
<html ng-app="myApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<link rel = "stylesheet" type = "text/css" href = "css/styles.css" />
  <head>
  </head>
  <body>
    <div ng-controller="FirstController">
      <form name="form" novalidate>
        <!--
        type tells what kind of validation to use
        name tells the browser what kind of text to use for autocomplete
        ng-model tells what the variable name for the input will be saved in for scope
        placeholder tells what the text in the box should say when nothing is entered
        -->
        <label name="email">Your email</label>
        <br/>
        <input type="email" name="email" ng-model="user.email" placeholder="Email Address" />
        <br/>
        <br/>
        <label name="phone">Your Phone Number</label>
        <br/>
        <input type="phone" name="phone" ng-model="user.phone" placeholder="Phone Number" />
        <br/>
        <br/>
        <label name="age">Your Age</label>
        <br/>
        <input type="number"
               name="age"
               ng-model="user.age"
               placeholder="Age"
               ng-maxlength=3
               required/>
        <br/>
        <br/>
        <br/>
         <!-- set required-ness, minlength, maxlength -->
        <input type="text"
               name="sample"
               ng-model="user.sample"
               placeholder="Enter Text"
               required
               ng-minlength=5
               ng-maxlength=20 /> <!-- ng-pattern="/a-zA-Z/" match regex pattern -->
        <br/>

        <button ng-click="submitClicked()">Submit</button>

      </form>
    </div>
  </body>
</html>
